[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
click = "*"
bcrypt = "*"
flask-mail = "*"
mysqlclient = "*"
flask-socketio = "*"
eventlet = "*"
redis = "*"
coloredlogs = "*"

[dev-packages]
pytest = "*"
black = "==18.9b0"
flask-shell-ipython = "*"

[requires]
python_version = "3.7"
