.logo {
  float: left;
  width: 150px;
  color: white;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

.banner h2,
.banner h3 {
  color: white;
  line-height: 0.8;
}

.banner h2 {
  font-size: 58px;
}

.banner h3 {
  font-size: 28px;
}
